@charset "UTF-8";
/* CSS Document */

/*  GLOBAL STYLES  */

html {
	font-size: 18px;
	width: 100%;
	margin: 0px auto;
}

body {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	font-family: Helvetica, Univers, 'sans-serif';
	background-color: #1A1A1A;
	justify-content: center;
}

.content {
	width: 960px;
justify-content: center;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

	/*  HEADER */

header {
	background-color: #1A1A1A;
	width: 100%;
	padding: 0.66rem;
	display: inline-flex;
	align-items: center;
	margin: auto;
	flex-flow: row;
	color: snow;
}

header img {
	height: 1.5rem;
	width: auto;
	padding-left: 0.5rem;
	padding-right: 1rem;
	align-items: center;
	vertical-align: middle;
}

header h3 {
	font-size: 1rem;
	border: 0px;
}

	/*  LANDING PAGE  */

.landing-page {
	height: 25rem;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
	background-size: cover;
	overflow: hidden;
}

.titles {
	padding: 2rem 3rem;
	background-color: #1A1A1A;
	color: snow;
	width: 20rem;
	margin-top: 9rem;
	justify-content: center;
	margin-left: 12rem;
}

.titles h3 {
	font-size: 1rem;
	font-weight: bold;
	padding: 0px;
	padding-bottom: 0.25rem;
}

.titles h1 {
	font-size: 2rem;
	font-weight: bold;
}

	/*  NAV BAR  */

.nav-bar {
	background-color: firebrick;
	padding: 0.75rem;
	justify-content: center;
	text-align: center;
}

.nav-items {
	width: 960px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	margin: auto;
}

.nav-items a {
	color: snow;
	text-decoration: none;
	justify-content: space-between;
	align-content: space-between;
	
}